/*black border*/
.border {
	border: 180px black solid;
	height: calc(100vh - 300px);
}
body {
	margin: 0;
}

/*align stuff*/
h1 {
	text-align: center;
	margin-top: 80px;
}
.start {
	text-align: center;
	margin-top: 160px;
}