/*black border*/
.border {
	border: 180px black solid;
	height: calc(100vh - 300px);
}
body {
	margin: 0;
}

/*align stuff*/
h1 {
	text-align: center;
	margin: 50px 0;
}
.start {
	text-align: center;
	margin-top: 280px;
}
.next-back {
	text-align: center;
	margin-top: 26px;
}
.border {
	position: relative;
}
.inborder {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	margin: 50px 0;
}

.inborder a {
	display: block;
}
.choice-container  {
	flex-grow: 1;
	flex-basis: 0;
}
img {
	width: 200px;
}
.after-choice {
	text-align: center;
}
/*fonts*/
* { font-family: "Cabin Sketch"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Cabin Sketch"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Cabin Sketch"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Cabin Sketch"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Cabin Sketch"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
h1 {
	font-size: 55px;
}
a {
	color: black;
}

/*button*/
.button {
	background-color: red;
	box-shadow: 0 5px 0 darkred;
  	color: white;
  	padding: 16px 20px;
  	position: relative;
  	text-decoration: none;
  	text-transform: uppercase;
  	border-radius: 28px;
  	text-shadow: 3px 3px black;
  	font-size: 35px;
}

/*page1.0*/
.text {
	text-align: center;
	font-size: 30px;
	margin: 50px 0;
}

.link-container {
	display: flex;
}